*{
    margin:0;
    padding: 0;
}
.outer-div{
    height: 100vh;
    width: 100vp;
    background: linear-gradient(to right,rgba(0,0,0,0.3),rgba(0,0,0,0.8)) ,url('./background_image.png');
    background-size: cover;
    
}

.outer-form-div{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-bottom: 20px;
    transform: translate(-50%,-50%);
    /* left: 0;
    right: 0; */
    width: 350px; 
    margin: 0 auto;
    background-color: #FEFEFE;
}

.login-form-div{
    height: 100%;
    position: relative;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.2);

}
.form-heading{
    padding: 18px;
    text-align: left;
    font-size: 15px;
    background-color: #9068BE;
    color: whitesmoke;
    text-transform: uppercase;

}
.login-icon{
    margin-top: -15px;
    text-align: right;
}
.my-icon{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    background-color: #E62739;
    color: white;
    font-size: 18px;
    
    padding: 10px;
    margin-right: 10px;
}
.login-form{
    padding: 2px 20px 15px 20px;
}
.outer-input-div{
    padding-left: 30px;
    position: relative;
    margin-top: 10px ;
    
}
.outer-input-div label{
    font-size: 15px;
    font-weight: 300;
    display: block;
    text-align: left;
    padding-bottom: 5px;
}
.input-settings{
    border: none;
    outline: none;
    border-bottom: 1px solid #DEDEDE;
    width: 100%;
    padding: 2px 0;
}
.input-icon{
    position: absolute;
    left: 0;
    top: 0;
    color: #282C32;
    width: 30px;
    height: 100%;
}
.input-icon-settings{
    position: absolute;
    left: 0;

    /* IF top to be made - 50% then how to make that center */
    top: 30%; 
    font-size: 15px;
    
}


.btn{
    background-color: #4285F4;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    display: block;
    color: #FEFEFE;
    font-weight: 500;
    text-align: center;
    border: none;
    cursor: pointer;
    outline: none;
}
.form-options{
    display: inline-block;
    width: 48%;
    margin-top: 10px;
    padding: 10px 0;
    color: rgb(104, 99, 99);
    font-size: 15px;
}
.a-prop{
    text-decoration: none;
    color: inherit;
    
}